:root {
  --lightBlueBg: #7fa9f0;
  --lightBrownBg:rgb(167, 126, 126);
  --lightBrownText:rgb(165, 106, 106);
  --transparentBlack: rgba(0, 0, 0, 0.5);
  --strongBlack: rgba(0, 0, 0, 0.8);
}

::selection {
  background: var(--highlightColor);
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--highlightColor);
  /* Gecko Browsers */
}

body {
  right: 0;
  border: 0;
  margin: 0;
}

.app {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  max-height: 100%;
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 15%;
  z-index: 1;
  background-color: #ffffff;
  flex-shrink: 0;
  overflow-x: hidden;
}

.side-bar-header {
  background-color: var(--lightBlueBg);
  padding: 25px 0;
}

.side-bar-list {
  padding-left: 5px;
  padding-top: 15px;
  font: 200% 'BR Cobane', sans-serif;
  font-style: italic;
  position: relative;
  display: inline-block;
}

.side-bar-list::after,
.side-bar-list::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ed9d87, #c1daff);
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.side-bar-list::before {
  top: 10px;
  transform-origin: left;
}

.side-bar-list:hover::after,
.side-bar-list:hover::before {
  transform: scaleX(1);
}

.side-bar-list a:link {
  text-decoration: none;
  color: var(--lightBrownText);
}

.side-bar-list a:visited {
  text-decoration: none;
  color: var(--lightBrownText);
}
/* *** ******* *** */


/* PORTRAIT */
.portrait {
  height: 200px;
  width: 150px;
  border-radius: 10px;
  overflow: visible;
  transition: all 0.2s ease;
}

.portrait-container {
  text-align: center;
  position: relative;
  z-index: 1;
}

.portrait-container img:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px rgb(250 250 250 / 50%);
}
/* ******** */

/* MAIN CONTENT */
.content {
  background-image: url("https://lyrdinn.github.io/images/pastel.jpg");
  width: 100%;
  margin: 0;
  overflow: auto;
}

/* ICONS */
.icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.icons-list img {
  margin: 10px;
  width: 70px;
  height: auto;
  transition: transform .2s;
  align-items: center;
}

.icons-list img:hover {
  transform: scale(1.15);
}

/* ***** */

.main-panel-video {
  height: 314px;
  padding-bottom: 2%;
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-panel-video .video {
  max-width: 80%;
  height: 100%;
  border-radius: 30px;
}


div.information-box {
  background-color: #ffffff;
  border-radius: 1.5em;
  overflow: hidden;
  font: 100% 'BR Cobane', sans-serif;
  text-align: center;
  color: (var(--lightBrownBg));
  border: 10px solid #76423cd1;
  box-shadow: 0 0 25px #76423c63;
}

.information-box-header {
  color: white;
  background-color: var(--lightBlueBg); /* Distinct header color */
  padding: 1em;
  border-bottom: 2px solid var(--lightBlueBg); /* Divider line */
}

.information-box-header > h1 {
  margin: 0;
  font-size: 1.75em;
}

.information-box-content {
  background-color: white;
  padding-left: 10px;
  padding-top: 1px;
  color : var(--lightBrownText);
}

div.text-box {
  background: #8a5c57;
  padding: 8px;
  border: none;
  border-radius: 10px;
  text-align: left;
}

.text-box > .information-box-header {
  border-radius: 10px 10px 0 0;
}

.text-box > .information-box-content {
  border-radius: 0 0 10px 10px;
}

/* PERSONNALIZE SECTION */
#intro {
  text-align: center;
  margin: 2% 10%;
  position: relative;
}

#about {
  margin: 2% 10%;
  color: var(--lightBrownText);
}

#experience-header {
  text-align: center;
  margin: 2% 10%;
  position: relative;
}

#projects-header {
  text-align: center;
  margin: 2% 10%;
  position: relative;
}

/* ************ ******* */

/*** PROJECT ***/
.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 150px;
  gap: 50px;

  opacity: 0;
  transform: translateX(20vw);
  transition: all 1s ease-out;
}

.project-icons-list {
  display: flex;
  gap: 20px;
}

.project-icons-list img {
  height: 30px;
  width: auto;
  transition: transform .2s;
}

.ProjectIcons img:hover {
  transform: scale(1.2);
}

.project-item > .text-box {
  width: 55%;
}

.project-item.reverse {
  flex-direction: row-reverse;
  transform: translateX(-20vw);
}

.project-item.animate {
  opacity: 1;
  transform: translateX(0);
}

.project-play-link-wrapper {
  font-size: 24px;
  font-weight: bold;
}

.tags a {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: 0 16px 8px 10px;
  padding: 0 10px 0 14px; /* extra left padding for tip */
  height: 24px;
  box-sizing: border-box;
  background: var(--lightBlueBg);
  border-radius: 0 3px 3px 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.tags a:before {
  content: "";
  position: absolute;
  left: -12px;
  top: 0;
  width: 12px;
  height: 100%;
  background: var(--lightBlueBg);

  /* This draws the left triangle */
  clip-path: polygon(100% 0, 100% 100%, 0% 50%);
}

.tags a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  transform: translateY(-50%);
  box-shadow: -1px -1px 2px rgba(0,0,0,.4);
}


@keyframes slide-in {
  from {
    opacity: 0.2;
    transform: translateX(50vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    opacity: 0.2;
    transform: translateX(-50vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.media {
  flex: 1;
  max-width: 40%;
  flex-shrink: 0;

  position:relative;
  background: #8a5c57;
  padding: 8px;
  border: none;
  border-radius: 25px;
  text-align: left;
  font-size: 0;
  box-shadow: 0 0 25px #76423c63;
}

.media img,
.media video {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.ItchImage {
  display:inline-flex;
  align-self: center;
  vertical-align: middle;
}

.ItchImage img {
  width: 45px;
  height: auto;
  transition: transform .2s;
}

.ItchImage img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1024px) {
  .project-item {
    flex-direction: column;
  }

  .project-item.reverse {
    flex-direction: column;
  }

  .project-item > .text-box {
    width: 80%;
  }

  .media {
    width: 80%;
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .app {
    flex-direction: column;
    overflow-y: auto;
  }

  .content {
    overflow: unset;
  }

  .sidenav {
    display: flex;
    width: 100%;
    height: auto;
  }
}

.resume-list
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.resume-box
{
  width: 400px;
  height: 600px;
  background-color: #ffffff;
  border-radius: 1.5em;
  font: 100% 'BR Cobane', sans-serif;
  color: (var(--lightBrownBg));
  border: 10px solid #76423cd1;
  box-shadow: 0 0 25px #76423c63;

  text-align: center;
  justify-content: center;

  position: relative;
  margin-bottom: 100px;
}

.resume-container {
  padding-top: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}


.resume-container-header {
  color: white;
  background-color: var(--lightBlueBg); /* Distinct header color */
  padding: 1em;
  border-bottom: 2px solid var(--lightBlueBg); /* Divider line */
}

.resume-container-header > h1 {
  margin: 0;
  font-size: 1.75em;
}

.resume-container > .resume-container-header {
  border-radius: 10px 10px 0 0;
}

.resume-container > .resume-container-content {
  border-radius: 0 0 10px 10px;
}

.portrait-container img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgb(250 250 250 / 50%);
}

.resume-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* take all vertical space in container */
  width: 100%; /* take full width */
  overflow: hidden;
  padding: 10px; /* optional */
}

.resume-image img {
  max-width: 80%;
  max-height: auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  object-fit: contain;
}

.resume-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(250, 250, 250, 0.5);
}